@import 'partials/settings';
@import 'partials/typography';
@import 'partials/global';
@import 'partials/elements';
@import 'partials/headerSection';

/* Home */
.home {
	position: relative;
	max-width: 1100px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 12px;
	flex-direction: column;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		transition: opacity 2s linear;
		transform: translate(0);
		opacity: 1;
		.home-img {
			width: 700px;
			height: 400px;
			img {
				width: 90%;
				transform: translate(0, 0);
			}
		}
	}
	.scroll-down {
		margin-top: 20px;
		color: #fff;
		font-size: 24px;
		font-weight: 500;
		visibility: visible;
		opacity: 1;
		transition: opacity 0.7s, visibility 0.7s;
		i {
			color: #fff;
			font-size: 1.2em;
			animation: arrow-down ease 2s infinite;
		}
	}
	.scroll-down.show {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes arrow-down {
	0% {
		transform: translateY(0);
	}
	35% {
		transform: translateY(10px);
	}
}

.bio {
	font-family: $font-one;
	.bio-title {
		font-size: 24px;
		font-weight: 700;
		line-height: 75px;
	}
	.bio-subtitle {
		color: red;
		// line-height: 50px;
		font-feature-settings: 1.3em;
		font-size: 20px;
		padding-bottom: 24px;
	}
	.bio-para {
		max-width: 350px;
		font-size: 16px;
		padding-bottom: 24px;
	}
}

.btn {
	color: #fff;
	font-size: 24px;
	display: inline-block;
	margin-top: 24px;
	padding: 20px 30px;
	letter-spacing: 1px;
	border-radius: 10px;
}

.btn-style {
	background-image: $background-gradient;

	&:hover {
		filter: brightness(130%);
		-webkit-filter: brightness(130%);
		-moz-filter: brightness(130%);
	}
}

/* About */
.section {
	height: 100vh;
	position: relative;
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding: 6rem 2rem 2rem;
	.container {
		position: relative;
		flex-direction: column;
	}
}

.sub-section {
	position: relative;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding: 6rem 0;
}

.section-title {
	font-size: 4.5em;
	font-weight: 800;
	margin-bottom: 2rem;
	background: linear-gradient(to top, transparent 0%, $color-zero 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 0.1;
}

.section-subtitle {
	font-size: 2.5em;
	font-weight: 700;
	transform: translateY(-80px);
}

.content {
	display: flex;
	column-gap: 145px;
	width: 100%;
}

.about-img {
	position: relative;
	width: 400px;
	img {
		max-width: 100%;
		border-radius: 10px;
	}
}

.about-info .description {
	max-width: 500px;
	h3 {
		font-size: 2em;
		font-weight: 600;
		margin-bottom: 12px;
	}
	h3 {
		font-size: 1.2em;
		font-weight: 600;
		margin-bottom: 12px;
	}
}

/* My Projects */
.projects .container .content {
	width: 100%;
}

.projects-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	max-width: 100%;
	gap: 35px;
	margin: 0 auto;
}

.projects-list .img-card {
	position: relative;
	max-width: 100%;
	height: 360px;
	border-radius: 10px;
	box-shadow: $box-shadow;
	overflow: hidden;
	cursor: pointer;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.projects-list .img-card .overlay {
	transition: 1s ease;
}

.projects-list .img-card:hover .overlay {
	z-index: 777;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.projects-list .img-card .info {
	z-index: 777;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 20px;
	color: #fff;
	transform: translateY(20px);
	opacity: 0;
	transition: 0.5 ease;
	h3 {
		font-size: 1.5em;
	}
	span {
		font-size: 1.2em;
	}
}

.projects-list .img-card:hover .info {
	transform: translateY(0);
	opacity: 1;
}

.projects-model {
	z-index: 999999;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: $color-transparent-one;
	backdrop-filter: blur(15px);
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease;
	.projects-model-body {
		position: relative;
		background: #fff;
		max-width: 600px;
		margin: 20px;
		padding: 40px;
		border-radius: 10px;
		box-shadow: $box-shadow;
		.projects-close-btn {
			position: absolute;
			top: 0;
			right: 0;
			margin: 20px;
			cursor: pointer;
		}
		h3 {
			font-size: 1.5em;
		}
		img {
			width: 100%;
			margin: 20px 0;
			border-radius: 10px;
		}
	}
}

.projects-model.active {
	visibility: visible;
	opacity: 1;
}

/* Contact Me */
.contact .container .content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contact-left h2 {
	font-size: 2.1em;
	font-weight: 800;
	margin-bottom: 40px;
}

.contact-list li {
	margin-bottom: 40px;
}

.contact-list li h3 {
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 10px;
}

.contact-list li h3 i {
	color: $color-two;
	font-size: 1.3em;
	margin-right: 10px;
}

.contact-list li span {
	color: $color-three;
	margin-right: 40px;
}

.contact-list li span a {
	color: $color-three;
}

.contact-right p {
	color: $color-three;
	font-size: 1.6em;
	margin-bottom: 30px;
}

.contact-right p span {
	color: $color-one;
	font-weight: 700;
}

.contact-form input,
.contact-form textarea {
	min-height: 42px;
	border: none;
	color: $color-one;
	background: $color-transparent-two;
	font-size: $font-size-normal;
	margin-bottom: 20px;
	padding: 15px 40 px 40ox 20px;
	border-radius: 5px;
	&::placeholder {
		padding: 8px;
	}
}

.contact-form textarea {
	width: 100%;
	resize: none;
}

::placeholder {
	color: $color-one;
}

.contact-form .first-row input {
	width: 100%;
}

.contact-form .second-row {
	display: flex;
	justify-content: space-between;
}

.contact-form .second-row input {
	width: 48%;
}

.contact-form .btn {
	border: none;
	margin-top: 0;
	border-radius: 5px;
	cursor: pointer;
	min-width: 72px;
}

/* Footer */
.footer-div {
	display: flex;
	min-height: 100px;
	width: 100%;
	position: sticky;
	// background: $background-gradient;
	// background: inherit;

	line-height: 1.3;
	font-family: Menlo, monospace;
	// -webkit-box-shadow: 0px -30px 60px -30px rgba(66, 68, 90, 1);
	// -moz-box-shadow: 0px -30px 60px -30px rgba(66, 68, 90, 1);
	// box-shadow: 0px -30px 60px -30px rgb(0, 0, 0);
	ul {
		display: inline-grid;
		grid-auto-flow: row;
		grid-gap: 24px;
		justify-items: center;
		margin: auto;
	}

	@media (min-width: 500px) {
		ul {
			grid-auto-flow: column;
		}
	}

	a {
		color: white;
		text-decoration: none;
		box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
	}

	a:hover {
		box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
	}

	li:last-child {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	li:hover ~ li p {
		animation: wave-animation 0.3s infinite;
	}
}

/* below is just for demo styling */

@keyframes wave-animation {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(20deg);
	}
	75% {
		transform: rotate(-15deg);
	}
}

/* Scroll up button */
#button {
	display: inline-block;
	background-image: $background-gradient;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
	opacity: 0;
	visibility: hidden;
	z-index: 999999999;
}
#button::after {
	content: '\f077';
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}
#button:hover {
	cursor: pointer;
	filter: brightness(130%);
	-webkit-filter: brightness(130%);
	-moz-filter: brightness(130%);
}
#button.show {
	opacity: 1;
	visibility: visible;
}
