/* Header */
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(20px);
	transition: 0.6 ease;
	z-index: 9999;
}

.nav-bar {
	position: relative;
	height: calc(3rem + 1rem);
	max-width: 1400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	transition: 0.6 ease;
	.logo {
		font-size: 32px;
		font-weight: 400;
		transition: 0.5s all;
		&:hover {
			text-shadow: 0 0 2px #fff, 0 0 30px #00aeff, 0 0 35px #00aeff;
		}
	}
	.navigation {
		.nav-elements {
			a {
				font-size: 15px;
				font-weight: 300;
				margin-right: 32px;
				padding-right: 32px;
				letter-spacing: 1px;
				transition: 0.7s all;
				&:hover {
					text-shadow: $glow-link-hover;
				}
			}
			a.active {
				text-shadow: $glow-link-active;
				transition: 0.7s all;
			}
		}
	}
}

.nav-menu-btn {
	display: none;
}

.sticky {
	background: rgba(55, 78, 85, 0.151);
	box-shadow: $box-shadow;
	.nav-bar {
		height: calc(2rem + 2rem);
	}
}

/* Media query */
@media screen and (max-width: 1140px) {
	.nav-bar {
		.navigation {
			position: fixed;
			width: 100%;
			height: 100vh;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $color-transparent-one;
			visibility: hidden;
			opacity: 0;
			transition: 0.5 ease;
			.nav-elements {
				position: relative;
				background: #fff;
				width: 600px;
				display: flex;
				align-items: center;
				flex-direction: column;
				margin: 30px;
				padding: 50px;
				border-radius: 10px;
				box-shadow: $box-shadow;
				transition: 1s all;
				transform: translateY(-20px);
				a {
					margin: 15px 50px;
					color: #000;
					font-size: 18px;
					font-weight: 400;
					&:hover {
						color: rgb(4, 175, 255);
						text-shadow: none;
					}
				}
				a.active {
					color: rgb(4, 175, 255);
					transition: 0.7s all;
					text-shadow: none;
				}
			}
		}
		.navigation.active {
			visibility: visible;
			opacity: 1;
			.nav-elements {
				transform: translateY(0);
			}
		}
	}

	.nav-menu-btn {
		background: url(../../assets/images/menuBtn.png);
		filter: $color-filter;
		background-size: cover;
		background-position: center;
		width: 40px;
		height: 40px;
		margin: 16px 16px auto auto;
		cursor: pointer;
		display: block;
	}

	.nav-close-btn {
		position: absolute;
		background: url(../../assets/images/closeBtn.png);
		filter: #0000;
		background-size: cover;
		background-position: center;
		width: 20px;
		height: 20px;
		top: 0;
		right: 0;
		margin: 15px;
		padding: 5px;
		cursor: pointer;
	}
}
