/* Variables */
$font-one: 'EB Garamond', serif;
$font-two: 'Rowdies', cursive;

$color-zero: #ffffff;
$color-one: #0e2431;
$color-two: #0e7eff;
$color-three: #777;
$color-backhround-html: linear-gradient(
	to right top,
	#1d1d1d,
	#191825,
	#14132c,
	#0c0c34,
	#00033b
);
$color-hover: #0e2431;
$color-transparent-one: rgba(0, 0, 0, 0.1);
$color-transparent-two: rgba(106, 89, 209, 0.1);
$color-liner: #d7d7d7;

$color-filter: invert(1);

$box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

$font-size-small: 0.9em;
$font-size-normal: 1em;

$scroll-bar-color: #c5cadf;
$scroll-thumb-color: #70768a;
$scroll-thumb-hover-color: #454f6b;

$background-gradient: linear-gradient(
	45deg,
	rgba(0, 172, 195, 1) 0%,
	rgba(0, 7, 68, 1) 100%
);

$glow-link-hover: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00aeff,
	0 0 20px #00aeff, 0 0 25px #00aeff, 0 0 30px #00aeff, 0 0 35px #00aeff,
	0 0 40px #00aeff, 0 0 45px #00aeff, 0 0 55px #00aeff;
$glow-link-active: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6,
	0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
